body {
  font-family: sans-serif;
}
.done {
  color: green;
  animation: apper 400ms ease-in forwards;
}

@keyframes apper {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error {
  color: red;
}
